// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';


// Colors
$c-darkerpurple: #17141f;
$c-darkpurple: #201c2b;
$c-purple: #6441a4;
$c-grey: #efeef1;
$c-slategrey: #433f4a;
$c-white: #fff;


// Measurments
$m-gutter: 1.25rem;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'results';
@import 'components';


.logo {
  display: block;
  width: 6rem;
  margin: 0 auto;
  padding: 0;
}

.search {
  border: 0.12rem solid darken($c-purple, 20%);
  outline: none;
  width: 100%;
  padding: $m-gutter / 3;
  background: $c-darkpurple;
  color: $c-white;

  &:focus {
    border: 0.12rem solid $c-purple;
  }
}


// Stack styles
.stack {
  &__group {
    &--pad {
      padding: $m-gutter $m-gutter 0;
    }
  }

  &__item {
    margin: 0 auto $m-gutter;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
